.luckyah-icon{
    min-height: 10vh;
    width: 100%;
}
.sobida-icon{
    min-height: 10vh;
    width: 50%;
    margin-left: 8vw;
}
.topserve-icon{
    min-height: 10vh;
    width: 60%;
    margin-left: 7vw;
}
.luckyah-figure{
  margin-top: 25px;
}